.navbar{
    width: 100%;
    padding: 12px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size:14px;
    color: #e5e5e5;
    background-image: linear-gradient(180 deg,rgba(0,0,0,0.7) 10%,transparent);
    z-index: 1;
    
}
.navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;

}
.navbar-left img{
    width: 90px;

}
.navbar-left ul{
    display: flex;
    list-style: none;
    gap: 20px;
    cursor:pointer;
}
.navbar-left ul li{
    position: relative;      
    padding: 10px 0;         
    cursor: pointer;  
}
.navbar-left ul li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;             
    width: 0;                
    background-color: blue;  
    transition: width 0.3s ease;
}

.navbar-left ul li:hover::after{
width: 100%;
background-color: blue; 
    } 

.navbar-right{
    display:flex;
    gap: 20px;
    align-items: center;
}

.navbar-right .icons{
width: 15px;
cursor: pointer;
}
.navbar-right .profile{
    border-radius: 2px;
    width:15px;
    display: flex;
    cursor: pointer;
    gap: 10px;
    align-items: center;
}
.navbar .dropdown{
position: absolute;
top: 100%;
right: 2%;
width: max-content;
background: #191919;
padding:18px 22px;
border-radius: 2px;
text-decoration: underline;
z-index: 1;
display: none;
}
.navbar-right p{
    font-size: 15px;
    cursor: pointer;
} 
.navbar-profile:hover .dropdown{
    display: block;
}

.nav-dark{
    background: #141414;
}


/* Search bar styling */
.search-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  .search-container input {
    border-radius: 9px;
    background-color:white;
    color: rgb(18, 8, 8);
    padding: 5px;
    padding-left: 30px; 
    width: 200px;
  }
  
  .search-container input::placeholder {
    color: rgb(9, 6, 6);

  }

  .navbar-profile  .profile{
    width: 30px;
    height: 30px;
  }
  .navbar-profile  .carret{
    width: 20px;
    height: 20px;
  }